.comment-con {
  width: 100%;
  padding: 0 12px 60px 12px;
}

.comment-title {
  width: 100%;
  padding: 15px 0;
  vertical-align: middle;
}

.comment-title img {
  width: 16px;
  vertical-align: top;
}

.comment-title span {
  padding-left: 3px;
  color: #666;
}

.comment-list {
  width: 100%;
  margin-top: -12px;
}

.comment-list .comment-item {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px dotted #f0f0f0;
}

.comment-list .comment-item:last-child {
  border: none;
}

.author-info {
  display: flex;
  width: 100%;
}

.author-info .image-con {
  width: 44px;
  padding-top: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.author-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.author-text h4 {
  margin: 0;
}

.author-text time {
  padding-top: 5px;
}

.comment-content {
  margin: 0;
  padding-top: 10px;
  color: #555;
}